    body,
    html,
    main {
        position: relative;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    body {
        background-image: url(Img/bright_squares.png);
    }
    
    #box-wrapper {
        background-image: url(Img/4.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 300px;
        height: 1000px;
    }
    
    #img-1 {
        background-image: url(Img/5.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 400px;
        height: 600px;
    }
    
    #img-2 {
        background-image: url(Img/2.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 400px;
        height: 600px;
    }
    
    .title {
        text-align: center;
        font-size: 50px;
        margin-bottom: 35px;
        margin-top: 40px;
        letter-spacing: 1.5px;
        font-weight: 650;
        font-family: 'Bevan', cursive;
        
    }
    
    .title-1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 100px;
        margin-top: 40px;
        letter-spacing: 3px;
        font-weight: 650;
        font-family: 'Lobster', cursive;
    }
    
    #text {
        font-family: 'Lora', serif;
        letter-spacing: 0.5px;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 60px;
        text-align: center;
    }
    
    #demo {
        text-align: center;
        font-size: 60px!important;
        color: #FFFFFF;
        font-family: 'Merriweather', serif;
        letter-spacing: 2px;
        padding-bottom: 40px;
    }
    
    #button {
        color: #FFFFFF;
        text-align: center!Important;
        font-size: 22px;
        padding: 5px;
        margin-top: 100px;
    }
    
    show {
        border: 4px solid #FFFFFF;
        padding: 15px;
        border-radius: 35px;
        letter-spacing: 2px;
        transition: all 0.4s;
        width: 20%;
        color: #FFFFFF!Important;
        font-size: 23px;
    }
    
    .name {
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 80px;
        margin-bottom: 35px;
        margin-top: 40px;
        letter-spacing: 5px;
        font-weight: 550;
        font-family: 'Russo One', sans-serif;
    }

.name-one {
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 80px;
        margin-bottom: 35px;
        margin-top: 40px;
        letter-spacing: 5px;
        font-weight: 550;
        font-family: 'Rye', cursive;
    }
    
    show:hover {
        background-color: rgba(255, 255, 255, 0.3);
        filter: alpha(opacity=50);
        opacity: 0.85;
        text-decoration: none!Important;
        color: #FFFFFF;
    }
     
    #page-info {
        background-image: url(Img/random_grey_variations.png);
        width: 100%;
        color: #FFFFFF;
        background-color: #1F1F1F;
        text-align: center;
        letter-spacing: 1px;
        padding: 15px;
        font-size: 17.5px;
        border-top: 2px #2B2B2B solid;
    }
    
    #footer {
        background-image: url(Img/1.png);
        width: 100%;
        min-height: 500px;
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #shadow {
        width: 100%;
        min-height: 250px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        color: #FFFFFF;
        font-family: 'Russo One', sans-serif;
        font-size: 60px;
    }
    
    pre {
        tab-size: 8;
    }
    
    @media screen and (max-width: 750px) {
        .side-collapse-container {
            width: 100%;
            position: relative;
            left: 0;
            transition: left .3s;
        }
        .side-collapse-container.out {
            left: 200px;
        }
        .side-collapse {
            top: 50px;
            bottom: 0;
            left: 0;
            width: 300px;
            position: fixed;
            overflow: hidden;
            transition: width .4s;
        }
        .side-collapse.in {
            width: 0;
        }
    }
    
    .h {
        color: #FFFFFF;
        font-size: 28px;
        font-family: 'Lora', serif;
        letter-spacing: 3px;
        float: left;
        padding-top: 15px!important;
        padding-right: 50px;
    }
    
    li {
        font-size: 24px;
        padding-top: 5px!important;
        transition: all 0.6s;
        font-family: 'Metal Mania', cursive;
    }
    
    li:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    li:first-child {
        padding-left: 30px;
    }
    /* Cookie warning */
    
    #cookie-warn {
        text-align: center;
        position: fixed;
        bottom: 0;
        background: silver;
        margin: 0;
        padding-top: 15px;
        width: 100%;
        display: none;
        z-index: 99;
    }
    
    #cookie-warn a {
        color: #D66E1A;
        text-transform: uppercase;
        float: right;
        padding-right: 20px;
        font-family: 'Metal Mania', cursive;
    }
    
    #cookie-warn p {
        font-size: 24px;
        color: #333;
    }
    
    .scrollToTop {
        width: 120px;
        height: 120px;
        background-image: url(Img/strzalka128%20.png);
        background-repeat: no-repeat;
        text-decoration: none;
        position: fixed;
        right: 2%;
        bottom: 12%;
        z-index: 100;
        display: none;
    }
    
    @media (max-width: 1199px) {
        .scrollToTop {
            background-image: url("Img/");
            bottom: 40px;
            width: 70px;
        }
    }
    
    @media (max-width: 1200px) {
        .scrollToTop {
            display: none;
        }
    }
    
    .ask {
        min-height: 650px;
        text-align: center;
    }
    
    
    
    .icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}
#end-info{
    size:24px!important;
    letter-spacing: 2px;
}
#counter
{
    text-align: center;
    padding-bottom:50px;
}
.space{
    height: 50px;
    border-top: 2px solid #606060;
}